<h1>Todos los Grupos</h1>

<table>
    <thead>
        <th>Acción</th>
        <th>Nombre</th>
        <th>Integrantes</th>
        <th>Debut</th>
        <th>Team</th>
        <th>Cantidad de conciertos</th>
        <th>Datos del concierto</th>
    </thead>
    <tbody>
        <% @groups.each do |group| %>
        <tr>
            <td>
                <%= link_to "Ver", group %>
                <%= link_to "Borrar", group, method: :delete, data: {confirm: 'estas seguro?'} %>
            </td>
            <td><%= group.name %></td>
            <td style="text-align: center;"><%= group.members %></td>
            <td><%= group.debut %></td>
            <td><%= group.team %></td>
            <td style="text-align: center;"><%= group.total_concerts %></td>
            <td>
                <% group.concerts.each do |concert| %>
                    <li><%= "#{concert.name}, espectadores: #{concert.audience}" %></li>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Crear concierto', new_concert_path %>