<%= from_with(model: concert, local: true) do |f| %>

    <div>
        <%= f.label 'Nombre' %>
        <%= f.text_field :name %>
    </div>
    
    <div>
        <%= f.label'Duracion' %>
        <%= f.time_field :duration, value: '%H:%M' %>
    </div>

    <div>
        <%= f.label 'Audiencia' %>
        <%= f.number_field :audience, min: 0 %>
    </div>

    <div>
        <%= f.label 'Fecha del evento' %>
        <%= f.date_field :event_date %>
    </div>

    <div>
        <%= f.label 'Grupo' %>
        <%= f.select :group_id, option_from_collection_for_select(@groups), prompt 'Elije un Grupo' %>
    </div>

    <%= f.submit %>

<% end %>